body {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    overflow: scroll;
    margin-top: 80px;
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.fixed {
    width: 150px;
    height: 50px;
    background-color: rgb(0, 136, 255);
    padding: 5px;
    position: fixed;
    right: 20px;
    bottom: 30px;
   border-radius: 20px;
   text-align: center;
   animation: updown 4s linear infinite;
   box-shadow: 2px 2px 4px lightgrey;
}


@keyframes updown {
    0% {
       background-color: rgb(0, 136, 255);
       bottom: 30px;
       box-shadow: 2px 2px 4px rgb(0, 0, 0);
    }
    10% {
        bottom: 35px;
        box-shadow: 2px 2px 4px rgb(0, 0, 0);
    }
    
    20%{
        background-color: rgb(0, 255, 98);
        bottom: 40px;
        box-shadow: 2px 2px 4px rgb(0, 0, 0);
    }
    30% {
        bottom: 45px;
        box-shadow: 2px 2px 4px rgb(0, 0, 0);
    }
    
    40%{
        background-color: rgb(255, 255, 0);
        bottom: 50px;
        box-shadow: 2px 2px 4px rgb(0, 0, 0);
    }
    50% {
        bottom: 53px;
        box-shadow: 2px 2px 4px rgb(0, 0, 0);
    }
    60%{
        background-color: rgb(255, 255, 0);
        bottom: 50px;
        box-shadow: 2px 2px 4px rgb(0, 0, 0);
    }
    70% {
        bottom: 45px;
        box-shadow: 2px 2px 4px rgb(0, 0, 0);
    }

    80%{
        background-color: rgb(0, 255, 98);
        bottom: 40px;
        box-shadow: 2px 2px 4px rgb(0, 0, 0);
    }
    90% {
        bottom: 35px;
        box-shadow: 2px 2px 4px rgb(0, 0, 0);
    }
    
    100% {
        background-color: rgb(0, 136, 255);
        bottom: 30px;
        box-shadow: 2px 2px 4px rgb(0, 0, 0);
    }

}

.footer {
    margin-top: 40px;
    width: 100%;
    height: auto;
    text-align: center;
    display: block;
    font-size: 12px;
    
}
.footerLink {
    display: inline;
}
.footerLogo {
    width: 230px;
    height: 70px;
    align-items: center;
}